#Phone_container{
  position: fixed;
  width: 100%;
  left: 0px;
  overflow-y: scroll;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
    top: 0px;
    z-index: 2;
}



.Menu_main{
    padding-top: 10px;
    width: 100%;
    text-align: center;
    overflow: hidden;
}
.Menu_main .fa{
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 7%;
    margin-right: 7%;
}
.Menu_main{
    color: white;
}




section#Left_menu2{
  top:0;
  left: -100%;
  bottom: 0;
  width: 100%;
  background-color: red;
/*  z-index: 10;*/

}
section#Left_menu2.active{
  left:0px; 
}

/*--------------------------------*/
section#Left_menu{
  top:0;
  bottom: 0;
  width: 100%;
  background-color: white;

}
section#Left_menu.active{
  left:0px; 
}

section#Left_menu .Menu_main .fa{
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 7%;
    margin-right: 7%;
    color: black;
    float: left;
}



/*###########################################STYLISATION OF NOTIFICATION TOP#########################*/
.count-time-line{
    margin-top: -10px;
    margin-left: -5px;
    display: inline-block;
    position: absolute;
    background: #454545;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.count-notification{
    margin-top: -10px;
    margin-left: -20px;
    display: inline-block;
    position: absolute;
    background: #454545;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}


/*########################################END STYLISATION OF NOTIFICATION TOP#########################*/





.app{
   color:black;
  font-size: 3em;
  margin-top:200px;
}





/*----------------------------------------BOTTOM NAVIGATION---------------------------------->*/



#footer {
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background: #454545;
  height: 60px;
  text-align: center;
    z-index: 2;
}




#footer i {
  font-size: 40px;
  transition: ease .35s;
  color: #B3E5FC;
  margin-left: 1%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 7%;
  margin-right: 7%;    
}



.count-message{

    margin-left: -5px;
    display: inline-block;
    position: absolute;
    background: red;
    border-radius: 50%;
    height: 15px;
    width: 15px;
}


@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes background {
  from {
    background: #00B0FF;
  }
  to {
    background: #00BCD4;
  }
}


@-moz-keyframes background {
  from {
    background: #00B0FF;
  }
  to {
    background: #00BCD4;
  }
}


@-webkit-keyframes background {
  from {
    background: #00B0FF;
  }
  to {
    background: #00BCD4;
  }
}


@-ms-keyframes background {
  from {
    background: #00B0FF;
  }
  to {
    background: #00BCD4;
  }
}


@-o-keyframes background {
  from {
    background: #00B0FF;
  }
  to {
    background: #00BCD4;
  }
}
